{% extends 'base.html' %}
{% block title %}
New UI log
{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <h3 class="mb-30">Automatic UI log generation based on screenshots variability</h3>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show"
            role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% if UIlog %}


    
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
       {% for category in level_zero %}
       <div>
            <label for="id_image">Example UI log:</label>
            HOLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        </div>
                {% comment %} <option value="{{ category.pk }}" {% if form.fields.categories.value == category.pk %}
                    selected{% endif %}>{{ category }}</option> {% endcomment %}
        {% include 'categories/snippets/taxcateg-child-form.html' with c=category sufix=">" val=form.fields.categories.value %}
        {% endfor %}





        <button type="submit" value="submit" class="btn_3">
            Save
        </button>
    </form>
    {% else %}
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div>
            <label for="id_title">Title:</label>
            {{ form.title }}
            <div class="form-validation">{{ form.title.errors }}</div>
        </div>
       <div>
            <label for="id_image">Example UI log:</label>
            {{form.seed}}
            <div class="form-validation">{{ form.seed.errors }}</div>
        </div>
        
        <button type="submit" value="submit" class="btn_3">
            Next
        </button>
    </form>
    {% endif %}
</div>
{% endblock %}