{% extends 'admin/base.html' %}
{% load static %}
{% block title %}
UI log generator | Administration
{% endblock title %}
{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static "img/logo112.png" %}" alt="logo" height="50">
    </a>©
</h1>
{% endblock branding %}
{% block nav-global %}
{% endblock nav-global %}

{% block bodyclass %}bg-light{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    /* Bootstrap issues with admin */
    * {
        box-sizing: unset;
    }

    div.module caption {
        caption-side: top !important;
    }

    .collapse {
        display: block !important;
    }

    #header {
        margin: 0;
        padding: 0.8% 1% 0.9% 3%;
        font-size: 5px;
        font-family: sans-serif, Arial, Helvetica;
        text-align: left;
        font-weight: bold;
        background: #240B36;
        color: #fff;
    }

    #site-name {
        display: inline;
    }

    .module h2,
    .module caption,
    .inline-group h2 {
        border-radius: 1em;
        margin: 0;
        padding: 2px 5px 3px 10px;
        font-size: 11px;
        text-align: left;
        font-weight: bold;
        background: #220901;
        color: #c4bbaf;
    }
</style>
{% endblock %}