{% extends "admin/login.html" %}

{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<style>
  #header {
    background-color: #240B36 !important;
  }
</style>
{% endblock %}

{% block branding %}
<h1>
  <a href="/"><img src="{% static "img/logo112.png" %}" alt="logo" height="50"></a>
  <br />
  <small>{% block head_title %}{% endblock %}</small>
</h1>
{% endblock %}

{% block content_title %}
<p class="lead" style="font-size: larger">
  Go beyond. Specify your product. Categorize it. Collect orders.
</p>
{% endblock %}