{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    {% include "base/css.html" %}
    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}" />
</head>

<body>
    {% include "base/navbar.html" with site_title='UI log generator' %}

    {% block content %}{% endblock %}

    {% include "base/js.html" %}

    {% block bottom %}{% endblock %}

    <footer class="single_padding_top">
        <!-- Footer Start-->
        <div class="footer-area footer-padding2">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="{% static 'img/logo/logo1.png' %}" alt=""
                                            width="45%"></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Incremental and collaborative generation of a taxonomy applied to cognitive
                                            RPA components.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="{% url 'home_url' %}"> Taxonomy</a></li>
                                    <li><a href="mailto:contact@crpa.site"> Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Products</h4>
                                <ul>
                                    <li><a href="{% url 'home_url' %}">Brand new components</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="mailto:info@crpa.site">Ask Questions</a></li>
                                    <li><a href="/termandconds">Terms & Conditions</a></li>
                                    <li><a href="/termandconds">Privacy Policy</a></li>
                                    <li><a href="mailto:customercare@crpa.site">Delete your data</a></li>
                                    <li><a href="mailto:support@crpa.site">Report a Payment Issue</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-7">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>
                                    document.write(new Date().getFullYear());
                                </script> <a href="https://github.com/a8081" target="_blank">a8081</a> All
                                rights reserved | Style based on
                                <!--i class="ti-heart" aria-hidden="true"></i>
                                by --><a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="https://twitter.com/etsii"><i class="fab fa-twitter"></i></a>
                                <a
                                    href="https://www.facebook.com/Secretar%C3%ADa-ETS-Ingenier%C3%ADa-Inform%C3%A1tica-Univ-Sevilla-196373487061548/?ref=ts"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a href="https://es.linkedin.com/in/antonio-mart%C3%ADnez-rojas-1aab56172"><i
                                        class="fab fa-linkedin"></i></a>
                                <a href="https://www.informatica.us.es/"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer End-->
    </footer>
</body>

</html>