{% extends "base.html" %}
{% load static %}

{% block title %}
Homepage
{% endblock %}

{% block content %}

<main>

    <!-- slider Area Start -->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active">
            <div class="single-slider slider-height" data-background="{% static 'img/hero/h1_hero.jpg' %}">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="{% static 'img/keylogger.png' %}" alt="" height="650em">
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                            <div class="hero__caption">
                                <span data-animation="fadeInRight" data-delay=".4s">Contributes to our </span>
                                <h1 data-animation="fadeInRight" data-delay=".6s">Collaborative<br> UI log database</h1>
                                <p data-animation="fadeInRight" data-delay=".8s">Best UI log generator for RPA!</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                    <a href="{% url 'home_url' %}" class="btn hero-btn">Find what you want at UI log generator</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-height" data-background="{% static 'img/hero/h1_hero.jpg' %}">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="{% static 'img/hero/hero_man.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                            <div class="hero__caption">
                                <span data-animation="fadeInRight" data-delay=".4s">Contributes to our</span>
                                <h1 data-animation="fadeInRight" data-delay=".6s">Collaborative <br> taxonomy</h1>
                                <p data-animation="fadeInRight" data-delay=".8s">Best UI log generator for RPA!</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                    <a href="{% url 'home_url' %}" class="btn hero-btn">Find what you want at UI log generator</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- Shop Method Start-->
    <div class="shop-method-area section-padding30">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-method mb-40">
                        <i class="ti-package"></i>
                        <h6>Instant download</h6>
                        <p>When you configure your synthetic log, it will be available for download immediately.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-method mb-40">
                        <i class="ti-unlock"></i>
                        <h6>No personal data</h6>
                        <p>There is no personal data involved in the process, so all data generated can be published without any problem.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="single-method mb-40">
                        <i class="ti-reload"></i>
                        <h6>Unlimited generations</h6>
                        <p>You can generate logs as many times as you want, configuring them based on your necessities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Method End-->
    <!-- Gallery Start-->
    <div class="gallery-wrapper lf-padding">
        <div class="gallery-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="gallery-items">
                        <img src="{% static 'img/gallery/gallery1.jpg' %}" alt="">
                    </div>
                    <div class="gallery-items">
                        <img src="{% static 'img/gallery/gallery2.jpg' %}" alt="">
                    </div>
                    <div class="gallery-items">
                        <img src="{% static 'img/gallery/gallery3.jpg' %}" alt="">
                    </div>
                    <div class="gallery-items">
                        <img src="{% static 'img/gallery/gallery4.jpg' %}" alt="">
                    </div>
                    <div class="gallery-items">
                        <img src="{% static 'img/gallery/gallery5.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery End-->

</main>
{% endblock content %}