{% extends 'base.html' %}
{% block title %}
Terms and conditions
{% endblock %}

{% block content %}
<div class="container hiper">
    <h2 style="text-align: center;"><strong>Terms and Conditions of Use</strong>
    </h2>
    <p>&nbsp;</p>
    <h5><strong>DISCLAIMER</strong></h5>
    <p>The UI log generator team is not responsible for any conflicts that may arise due to improper use of
        the application, including those whose nature is to defraud, deceive, or ultimately harm any user of the
        application, among others.</p>
    <p>This is an <strong>academic work</strong>, it is not designed for professional use or to obtain an economic
        return. UI log generator warns
        you that any economic damage caused by the use of this platform will be the responsibility of the user, never of
        UI log generator. We insist, this platform is for <strong>educational purposes</strong>, not for professional use, it
        will put your
        assets at
        risk.</p>
    <p>&nbsp;</p>
    <h5><strong>RELEVANT INFORMATION</strong></h5>
    <p>It is a requirement for the purchase of the products offered on this site that you read and
        accept the following Terms and Conditions which are written below. The use of our services as well as the
        purchase
        of our products will imply that you have read and accepted the Terms and Conditions of Use in this document. All
        the
        products &nbsp;that are offered by our web site could be created, charged, sent or presented by a third party
        web
        page and in such case would be subject to its own Terms and Conditions. In some cases, in order to acquire a
        product, it will be necessary for the user to register, entering reliable personal data and defining a password.
    </p>
    <p>The user can choose and change the password for his account management access at any time, in
        case he has registered and it is necessary for the purchase of any of our products. All purchases and
        transactions
        carried out through this website are subject to a confirmation and verification process, which may include
        checking
        stock and product availability, validation of the payment method, validation of the invoice (if any) and
        compliance
        with the conditions required by the selected payment method. In some cases it may be required a verification by
        e-mail.</p>
    <p>The prices of the products offered in this Online Store is valid only for purchases made on
        this website.</p>
    <p>&nbsp;</p>
    <h5><strong>LICENSE</strong></h5>
    <p>UI log generator&nbsp; through its website grants a license for users to use&nbsp; the products that
        are sold on this website according to the Terms and Conditions described in this document. </p>
    <p>&nbsp;</p>
    <h5><strong> UNAUTHORIZED USE</strong></h5>
    <p>If applicable (for sale of software, templates, or other design and programming products) you
        may not place one of our products, modified or unmodified, on a CD, website or any other medium and offer it for
        redistribution or resale of any kind. </p>
    <p>&nbsp;</p>
    <h5><strong>PROPERTY</strong></h5>
    <p>You may not claim intellectual or exclusive ownership of any of our products, modified or
        unmodified. All products are the property &nbsp;of the content providers. Unless otherwise specified, our
        products
        are provided&nbsp; without any warranty, express or implied. In no event shall this company&nbsp; be liable for
        any
        damages including, but not limited to, direct, indirect, special, incidental or consequential damages or other
        losses resulting from the use or inability to use our products. </p>
    <p>&nbsp;</p>
    <h5><strong>REFUND AND WARRANTY POLICY</strong></h5>
    <p>In the case of products that are irrevocable non-tangible goods, we do not make refunds after
        the product is shipped, you have the responsibility to understand before you buy. &nbsp;We ask you to read
        carefully
        before buying. We only make exceptions to this rule when the description does not fit the product. There are
        some
        products that may have a warranty and refund possibility but this will be specified when purchasing the product.
        In
        such cases the warranty will only cover factory failures and will only become effective when the product has
        been
        used correctly. The warranty does not cover breakdowns or damage caused by improper use. The terms of the
        warranty
        are associated with manufacturing and operational faults under normal product conditions and will only become
        effective if the equipment has been used correctly. This includes: </p>
    <ul style="margin: 2em;">
        <li>According to the technical specifications indicated for each product.</li>
        <li>Under environmental conditions according to the specifications indicated by the
            manufacturer.</li>
        <li>In specific use for the function with which it was designed at the factory.</li>
        <li>Under electrical operating conditions according to the specifications and tolerances
            indicated.</li>
    </ul>
    <p>&nbsp;</p>
    <h5><strong> ANTI-FRAUD TESTING</strong></h5>
    <p>The customer's purchase can be postponed for anti-fraud testing. It may also be suspended
        longer for a more rigorous investigation to prevent fraudulent transactions. </p>
    <p>&nbsp;</p>
    <h5><strong>PRIVACY</strong></h5>
    <p>This website ensures that the personal information you submit is secure. The data entered by
        user or in the case of requiring a validation of orders will not be delivered to third parties, unless it must
        be
        disclosed in compliance with a court order or legal requirements.</p>
    <p>Subscription to advertising e-mail newsletters is voluntary and may be selected at the time of
        creating your account.</p>
    <p>UI log generator reserves the right to change or modify these terms without notice.</p>
    <p>&nbsp;</p>
    <h5><strong>DATA YOU PROVIDE US WITH</strong></h5>
    <p>By registering in the application you accept the provision of personal data such as name, email
        or date of birth, among others. By registering in this application you accept that the data resulting from the
        user's activity in the platform will not be deleted with the closure of your account.</p>
    <p>&nbsp;</p>
    <h5><strong>DATA MANAGEMENT BY USERS WITH THE 'REVIEWER' ROLE</strong></h5>
    <p>A user with the 'REVIEWER' role must have the explicit consent of others reviewers to register them. This data
        management includes the recording of information of a personal
        nature.</p>
    <p>&nbsp;</p>
    <h5><strong>HOW DO WE COLLECT INFORMATION?</strong></h5>
    <p>We collect information related to how you use our Services, including how you interact with our
        software (including, but not limited to, clicks, page views, searches and steps taken to complete actions).</p>
    <p>&nbsp;</p>
    <h5><strong>WHAT TYPE OF INFORRMATION IS COLLECTED FROM YOU?</strong></h5>
    <p>When you sign up to create a UI log generator profile. We collect information such as:</p>
    <ul style="margin: 2em;">
        <li>First name.</li>
        <li>Last name.</li>
        <li>Registration date.</li>
        <li>E-mail.</li>
        <li>Role.</li>
    </ul>
    <p>When you access our sites, we collect infromation about your computer sotfware and hardware:
    </p>
    <ul style="margin: 2em;">
        <li>Device type.</li>
        <li>Cookies.</li>
        <li>Browser.</li>
    </ul>
    <p>According to location, If you use our Services, we may receive precise geographic location data
        from your mobile device when the UI log generator Application is running.</p>
    <p>&nbsp;</p>
    <h5><strong>HOW IS YOUR INFROMATION USED?</strong></h5>
    <p>This information is used by UI log generator for the operation of services, to maintain quality of the
        service, and to provide general statistics regarding use of the UI log generator platform.</p>
    <p>Please keep in mind that if you directly disclose personally identifiable information or
        personally sensitive data through UI log generator may be collected and used by others.</p>
    <p>We may use your information to:</p>
    <ul style="margin: 2em;">
        <li>Provide you with new and improved features.</li>
        <li>Personalise your experiences on our Sites.</li>
        <li>Seek your feedback on the services we provide.</li>
    </ul>
    <p>We may combine your Personal Information with Device Information and Location Information to
        serve you specifically a product, according to your preferences or restrictions, or for advertising or
        advertising
        targeting purposes.</p>
    <p>When we combine Personal Information with Device Information in this way, we treat it as, and
        apply all of the safeguards in this Policy applicable to, Personal Information.</p>
    <p>Consistent with above, we may communicate with you via electronic messages, including email,
        application notification</p>
    <p>&nbsp;</p>
    <h5><strong>OUR ROLE AS DATA CONTROLLER AND DATA PROCESSOR</strong></h5>
    <p>It is important to understand the difference between being a data controller and data
        processor.</p>
    <p>We are not responsible for the malicious use of the data by the providers or developers, we only provide the
        service.
    </p>
    <p>To learn more about how a component may use such personal information, you should review its
        privacy notice.</p>
    <p>If a user is identified as performing malicious actions or reselling components without authorization from the
        provider, notify <a href="mailto:support@crpa.site">support@crpa.site</a></p>
    <p>&nbsp;</p>
    <h5><strong>RETENTION</strong></h5>
    <p>We review our retention periods on a regular basis. We will hold your personal information on
        our systems for as long as is necessary for the relevant activity, or as long as it is set out in any relevant
        contract you hold with us.</p>
    <p>&nbsp;</p>
    <h5><strong>WHO HAS ACCESS TO YOUR INFORMATION?</strong></h5>
    <p>UI log generator does sell, rent or lease its customer and users lists to third parties.</p>
    <p>UI log generator may share your information with other third parties for marketing purposes with your
        consent.</p>
    <p>&nbsp;</p>
    <h5><strong>PAYMENT CARD INFORMATION</strong></h5>
    <p>By submitting your credit or debit card account information through our Sites, to the extent
        permitted by applicable law, you expressly consent to the sharing of your information with components owners,
        third-party
        payment processors (e.g Pay-pal), and other third-party service providers, and you further agree to the
        following
        terms.</p>
    <p>&nbsp;</p>
    <h5><strong>INFORMATION ACCESS</strong></h5>
    <p>If you would like access to your data then please contact us.</p>
    <p>&nbsp;</p>
    <p>If you would like to delete personal information relating to a sale, a purchase or a proposal, please
        contact <a href="mailto:customercare@crpa.site">customercare@crpa.site.</p></a>
    <p>&nbsp;</p>
    <h5><strong>SECURITY PRECAUTIONS</strong></h5>
    <p>When you give us personal information, we take steps to ensure that it’s treated securely. Any
        sensitive information (such as credit or debit card details) is encrypted and protected with the following
        software,
        the Secure Socket Layer (SSL)</p>
    <p>The use of Paypal</p>
    <p>&nbsp;</p>
    <h5><strong>DATA BREACH</strong></h5>
    <p>We will notify affected venues within 48 hours of becoming aware of the breach.</p>
    <p>&nbsp;</p>
    <h5><strong>WHERE THE INFORMATION IS STORED?</strong></h5>
    <p>Data is stored securely in <a href="https://www.heroku.com/">Heroku</a> data centres throughout the world.</p>
    <p>&nbsp;</p>
    <h5><strong>PROFILING</strong></h5>
    <p>We may analyse your personal information to create a profile of your interests and preferences
        so that we can contact you with information relevant to you.</p>
    <p>We may make use of additional information about you when it is available from external sources
        to help us do this effectively.</p>
    <p>&nbsp;</p>
    <h5><strong>USE OF COOKIES</strong></h5>
    <p>Like many other websites, we use cookies. We use them to help you personalise your online
        experience.</p>
    <p>We use cookies for the following purposes:</p>
    <ul style="margin: 2em;">
        <li>Authentication, personalisation and security: Cookies help us verify your Account and
            device and determine when you’re logged in.</li>
        <li>Performance and analytics: Cookies help us analyse how the Services are being accessed and
            used, and enable us to track performance of the Services.</li>
        <li>Opting Out: You can set your browser to not accept cookies, but this may limit your
            ability to use the Services.</li>
    </ul>
    <p>&nbsp;</p>
    <h5><strong>USAGE POLICY</strong></h5>
    <p>UI log generator has the possibility of blocking accounts that carry out illicit activities such as the
        following:</p>
    <ul style="margin: 2em;">
        <li>Creation of fake accounts for spam.</li>
        <li>Use of an account for illegal purposes, such as theft of data from third parties.</li>
        <li>Any type of hacking that allows the user or client of the application to parts that are
            not visible to them.</li>
    </ul>
    <p>If one of the above activities is perceived in a user or client immediately the account will be
        blocked.</p>
    <p>In addition to this, UI log generator also offers its customers the possibility to block certain users,
        if they consider that their behaviour is not correct in their establishment.</p>
    <p>In case the user is not in agreement with the conditions imposed by the company or by the
        customers, he can contact UI log generator via e-mail where all his doubts will be answered and in case it is considered
        appropriate, his account will be re-activated.</p>
    <p>&nbsp;</p>
    <h5><strong>CHANGES OF THIS STATEMENT</strong></h5>
    <p>UI log generator will occasionally update this Privacy Policy to reflect company and customer feedback.
    </p>
    <p>UI log generator encourages you to periodically review this statement to be informed of how UI log generator is
        protecting your information. This policy was last updated in August 2020.</p>
    <p>&nbsp;</p>
    <h5><strong>CONTACT US</strong></h5>
    <p>If you have any question please don`t be ashame and contact us via e-mail at
        <a href="mailto:customerservices@crpa.site">customerservices@crpa.site</a></p>
</div>
{% endblock %}